 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I can create amazing things inside 'The Matrix' using Swift, Wordpress, HTML5, JS, CSS, JQuery, Bootstrap,</p>
                </div>
                <div class="col-lg-4">
                    <p>Phonegap, C# and Unity3D, Databases, Data Analysis and Data Visualization!<br> It is an incredible world!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>